# ---------- .NET / C# / Visual Studio ----------
## 编译产物
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
artifacts/

## Visual Studio 临时文件
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.rsuser
*.vspscc
*.vssscc

## VS 工作区与缓存
.vs/
.vscode/
*.VC.db
*.VC.VC.opendb

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## MSBuild / 遥测
*.binlog
*.log
*.err
*.tlog

## 单元测试结果
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/

## Publish 输出
*.publishsettings
PublishScripts/
*.publishproj

## .NET Core / SDK
*.dbmdl
*.dbproj.schemaview
*.ldf
*.mdf

# ---------- 通用 ----------
## 系统文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

## 日志与临时
*.log
*.err
*.tmp
*.bak
*.swp

## 编辑器
.idea/
*.code-workspace

# ---------- 项目运行时 ----------
receive-files/
node_modules/
dist/
out/
